{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/components/form.css') }}">
<link rel="stylesheet" href="{{ asset('css/components/login.css') }}">
{% endblock %}

{% form_theme registrationForm 'form/theme.html.twig' %}

{% block body %}
    <div class="form-container" >
        <h1>Register</h1>
        {{ form(registrationForm) }}
        <a href="/login">or Log in</a>
    </div>
{% endblock %}
