#post-wrapper {
  background-color: #f2f2f7;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 20px;
}

#post-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#post {
  h1 {
    font-size: 1.5em;
  }

  p {
    white-space: pre-wrap;
    font-size: 1em;
  }
}
