#post-wrapper {
  background-color: #f2f2f7;
  color: black;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 20px;
  transition: .3s;

  a {
    text-decoration: none;
    color: black;
  }

  &.nightmare {
    background-color: #1b1447;
    color: white;

    a {
      color: white;
    }
  }
}

#post-wrapper:hover {
  transform: scale(1.02);
}

#post-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#post {
  h1 {
    font-size: 1.5em;
  }

  p {
    white-space: pre-wrap;
    font-size: 1em;
  }
}
