#post-wrapper {
  width: 70%;
  background-color: #f2f2f7;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 20px;
  margin-top: 25vh;
}

#post-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

h1 {
  font-size: 3em;
}

p {
  white-space: pre-wrap;
  font-size: 1.2em;
}

#comments {
  h2 {
    font-size: 30px;
  }
}

hr {
  color: black;
}