{% extends 'base.html.twig' %}

{% block title %}Liste des Profils{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/components/mini_profile.css') }}">
{% endblock %}

{% block body %}
<div class="profile-list">
    <h1 class="title"> {{title }} : </h1>
    {% for profil in profils %}
        {% include 'profil/mini_profile.html.twig' with { 'profil': profil } %}
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/scripts.js') }}"></script>
{% endblock %}
