{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <h1>User Profile</h1>
    <div>
        <h3><strong>Utilisateur :</strong> {{ user.idUser }}</h3>
        <h5>Description : {{ user.description }}</h5>
    </div>

{% endblock %}
