{% extends 'base.html.twig' %}

{% block title %}User Profile{% endblock %}

{% block body %}
    <h1>User Profile</h1>
    <div>
        <strong>Nom:</strong> {{ user.username }}
    </div>
    <div>
        <strong>Profile Picture:</strong>
        {% if user.profilePicture %}
            <img src="" alt="{{ user.username }}">
        {% else %}
            <p>No profile picture uploaded.</p>
        {% endif %}
    </div>
{% endblock %}
