<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Fukafukashita{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.css')}}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-links">
                <a class="nav-logo" href="/">
                    <img src="{{ asset('images/logo.jpg') }}" alt="Logo">
                </a>
                <a class="nav-link" href="/"><h1>FukaFukashita</h1></a>
                </div>
                <div class="nav-links">
                    <a href="/profil/post/follow" class="nav-link">Abonnements</a>
                    <a href="/profil" class="nav-link">Compte</a>
                    {% if is_granted('ROLE_USER') %}
                        <a href="/logout" class="nav-link">Se déconnecter</a>
                    {% endif %}
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <button class="floating-button" onclick="location.href='/post/new'">+</button>
</html>
