{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/components/post_mini.css') }}">
{% endblock %}

{% block title %}All posts{% endblock %}

{% block body%}
<div id="wrapper">
  <h1>All posts</h1>
  
  {% for post in posts %}
    {% include 'post/post_mini.html.twig' with {'post' : post} %}
  {% endfor %}
</div>
{% endblock %}
