{% extends 'base.html.twig' %}



{% block body %}

<link rel="stylesheet" href="{{ asset('css/components/post_mini.css') }}">
<link rel="stylesheet" href="{{ asset('css/components/post_all.css') }}">

<div id="wrapper">
  <h1>{{title}}</h1>
  
  {% for post in posts %}
    {% include 'post/post_mini.html.twig' with {'post' : post} %}
  {% endfor %}
</div>
{% endblock %}