<h1>All website posts</h1>
<a href="{{ path('add_post') }}" class="btn btn-primary">Créer un nouveau post</a>
{% for post in posts %}
  <div>
    <span>Id: {{ post.id }}</span>
    <span>Title: {{ post.title }}</span>
    <span>Content: {{ post.text }}</span>
  </div>
{% endfor %}
